.container {
    background-color: #fff;
}



.navbar {
    border-bottom-style: solid;
    border-bottom-color: grey;
}


.navbar .navbar-brand {
    font-size: 30px;
    border-style: solid;
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 50px;
}

.nav {
    margin-right: 80px;
}

.nav-link {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;;
}

body {
    background-image: url("../Images/vintage-concrete.png");
    background-size: cover;
    background-attachment:fixed;
}

/* About me Page content */

hr {
}

.about-me-content {
    background: #ffffff;
    padding: 30px;
    padding-bottom: 90px;
    border-style: solid #dddddd;
    height: 700px;
    width: 960px;
    clear: both;
    margin-left: 70px;
    margin-right: 160px;
    margin-bottom: 160px;
    margin-top: 50px;
}

.about-me-header {
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
    margin-bottom: 0%;
    margin-right: 40px;
    margin-left: 10px;
}

.about-me-info {
    margin-top: 2px;
    padding: 40px;
}

img {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}
