/* Nav bar and styles that apply to elements that appear in all pages. Improvements on responsiveness */

.navbar {
    border-bottom-style: solid;
    border-bottom-color: grey;
    background-color: #fff;
}

.container {
    background-color: #fff;
}

@media (max-width: 500px) { 
    .navbar {
        padding:0;
        display: flex;
    }
}

@media (max-width: 500px) {
    .navbar-brand {
        font-size: 20px;
    }
}

.navbar .navbar-brand {
    font-size: 30px;
    border-style: solid;
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 0;
}

.nav { 
    margin: 0 auto;
}

.nav-link {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;;
}

body {
    background-image: url("../Images/vintage-concrete.png");
    background-size: cover;
    background-attachment:fixed;
}

#footer {
        background-color: #666666;
        border-top: 8px solid #4aaaa5;
        border-bottom-color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 70px;
}

/* About me Page content */

.about-me-header {
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
    margin-bottom: 0%;
    margin-top: 5px;
    margin-right: 40px;
    margin-left: 10px;
}

.about-me-info {
    margin-top: 2px;
    padding: 40px;
}

img {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#last-p {
    margin-bottom: 50px;
}

/* Portfolio page content styles */